.container-social {
  padding-left: 12%;
  position: absolute;
  left: 770px;
}

.mb-3 {
  position: relative;
  left: 100px;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  background-color: #b6f9ed;
  font-family: "Oswald", sans-serif;
}

.facebook {
  margin: 14px;
}

.twitter {
  margin: 14px;
}

.instagram {
  margin: 14px;
}

.whatsapp {
  margin: 14px;
}

.github {
  margin: 14px;
}

.email {
  margin: 14px;
}
