<footer class="d-flex flex-wrap py-4 align-items-center border-top">
  <span class="mb-3 mb-md-0 text-muted">&copy; Copyright 2022 Pet's Family</span>

  <div class="container-social">

    <a class="facebook" title="Facebook" href="https://facebook.com/es/petsfamily" target="_blank"><img
        src="/assets/img/facebook.png" alt="Facebook" width="40" height="40" role="button"></a>
    <a class="twitter" title="Twitter" href="https://twitter.com/es/petsfamily" target="_blank"><img
        src="/assets/img/twitter.png" alt="Twitter" width="40" height="40" role="button"></a>
    <a class="instagram" title="Instagram" href="https://instagram.com//petsfamily" target="_blank"><img
        src="/assets/img/instagram.png" alt="Instagram" width="40" height="40" role="button"></a>
    <a class="whatsapp" title="Whatsapp" href="+34600000000" target="_blank"><img src="/assets/img/whatsapp.png"
        alt="Whatsapp" width="40" height="40" role="button"></a>
    <a class="github" title="GitHub" href="https://github.com/devFDom/front-vacation" target="_blank"><img
        src="/assets/img/github.png" alt="GitHub" width="40" height="40" role="button"></a>
    <a class="email" title="Correo" href="/contact" target="_blank"><img
        src="/assets/img/email.png" alt="Send us an email" width="40" height="40" role="button"></a>

  </div>

</footer>
