/* .container-social{
     align-items: center;
} */

  .facebook{
    margin: 14px;
  }

  .twitter{
    margin: 5px;
  }

  .instagram{
    margin: 5px;
  }

  .whatsapp{
    margin: 5px;
  }

  .github{
    margin: 5px;
  }

  .email{
    margin: 5px;
  }
