@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  background-color: #b6f9ed;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 4%;
  justify-content: space-around;
  font-family: "Oswald", sans-serif;
}

.details{
  text-align: center;
  margin-right: 12%;
}

.btn.submit.btn-md {
  margin: 1em;
  background-color: #d2baff;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}

.button {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.card:hover {
  transform: scale(1.05); /* (10% zoom - Note: if the zoom is too large) */
  opacity: 1;
  transition: 0.5s opacity;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

.img {
  width: 350px;
  height: 300px;
  border-radius: 10%;
  margin: none;
}
