<div class="box" *ngFor="let properties of properties">
  <img [src]="" alt="...">
  <p>
    Capacity: {{properties.capacity}}
  </p>
  <p>
    Bedrooms:{{properties.bedrooms}}
  </p>
  <p>
    {{properties.pricePerNight}}€ (Price Per Night)
  </p>
</div>

<div>
  <p>Would you like to share a property to rent? Add it here.</p>
  <button (click)="add()">
    Add
  </button>
</div>

<!-- <ul class="prodperties">
  <li *ngFor="let p of properties; let i=index;">
    <a routerLink="/property-details/{{p.id}}">
      <span class="badge">{{i+1}}</span> {{p.property.id}}
    </a>
    <button class="delete" title="delete property"
      (click)="delete(p._id)">x</button>
  </li>
</ul> -->