
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
  font-family: 'Oswald', sans-serif;
}

.btn {
  background-color: #D2BAFF;
}
.btn:hover{
  background-color: #ffffff;
}

.submit {
  color:#000000;
}

*{
border-radius: 10px;
}

.form-control{
  background-color: #D2BAFF;
}
