<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>pet vacation</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />

</head>
<app-header></app-header>

<body>

  <li *ngFor="let City of propertiesList | filterCity : properties">
    {{City}}
  </li>

  <!--
    <router-outlet></router-outlet>
    <app-properties></app-properties>
<app-properties-detail></app-properties-detail>-->

  <div class="box" *ngFor="let properties of properties">
    <img src="{{properties.photo}}" alt="...">
    <p>
      Bedrooms:{{properties.bedrooms}} / Capacity: {{properties.capacity}}
    </p>
    <p>
      {{properties.pricePerNight}}€ (Price Per Night)
    </p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>
  <router-outlet></router-outlet>

</body>

<app-footer></app-footer>

</html>
