<h1 style="text-align: center; color: #290981; font-family: 'Dancing Script', cursive;">Share a New Property</h1>

<div class="container d-grid gap-5 col-4 p-3 mx-auto">
  <form id="ownerForm">

    <div class="mb-3">Photo:
      <input [(ngModel)]="propertiesData.photo" class="form-control" placeholder="Photo" />
    </div><br>
    <div>City:
      <input [(ngModel)]="propertiesData.city" class="form-control" placeholder="City" />
    </div><br>
    <div>Bedrooms:
      <input [(ngModel)]="propertiesData.bedrooms" class="form-control" placeholder="Bedrooms" />
    </div><br>
    <div>Capacity:
      <input [(ngModel)]="propertiesData.capacity" class="form-control" placeholder="Capacity" />
    </div><br>
    <div>Pool:
      <input [(ngModel)]="propertiesData.pool" class="form-control" placeholder="Yes/No" />
    </div><br>
    <div>Garden:
      <input [(ngModel)]="propertiesData.garden" class="form-control" placeholder="Yes/No" />
    </div><br>
    <div>Description:
      <input [(ngModel)]="propertiesData.description" class="form-control" placeholder="Details" />
    </div><br>
    <div>Price Per Night:
      <input [(ngModel)]="propertiesData.pricePerNight" class="form-control" placeholder="Price Per Night" />
    </div><br>

</form>
<div class="button">
  <button (click)="addProperty()" class="btn.submit btn-md">Submit</button>
</div>
  
</div>