<!-- <select #viewDayOptionSelect class="form-control" [ngModel]="viewDays" (change)="viewDaysOptionChanged(viewDayOptionSelect.value)">
    <option [value]="1">One day</option>
    <option [value]="3">Three days</option>
    <option [value]="7">One week</option>
</select>
... -->
<!-- <calendar-scheduler-view *ngSwitchCase="CalendarView.Week"
                    [viewDays]="viewDays"
                    [viewDate]="viewDate"
                    [events]="events"
                    [locale]="locale"
                    [responsive]="true"
                    [weekStartsOn]="weekStartsOn"
                    [excludeDays]="excludeDays"
                    [startsWithToday]="startsWithToday"
                    [hourSegments]="hourSegments"
                    [dayStartHour]="dayStartHour"
                    [dayEndHour]="dayEndHour"
                    [dayModifier]="dayModifier"
                    [hourModifier]="hourModifier"
                    [segmentModifier]="segmentModifier"
                    [eventModifier]="eventModifier"
                    [showEventActions]="true"
                    [showSegmentHour]="true"
                    [zoomEventOnHover]="true"
                    (viewDaysChanged)="viewDaysChanged($event)"
                    (dayHeaderClicked)="dayHeaderClicked($event.day)"
                    (hourClicked)="hourClicked($event.hour)"
                    (segmentClicked)="segmentClicked('Clicked', $event.segment)"
                    (eventClicked)="eventClicked('Clicked', $event.event)"
                    (eventTimesChanged)="eventTimesChanged($event)"
                    [refresh]="refresh">
</calendar-scheduler-view> -->