  <body>
    <h1 style="text-align: center; color: #290981; font-family: 'Dancing Script', cursive; width: 100%;">What are you
      looking for?</h1>

    <div class="card-group container-fluid justify-content-center align-items-center" style="width: 80%;">
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-centered="light">
          <img src="https://i.ibb.co/C2B57jz/image1.png" category-banner routerLink="/properties" class="img-fluid">

        </div>
      </div>

      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-centered="light">
          <img src="https://i.ibb.co/yyFbyvN/image2.png" alt="" class="img-fluid category-banner" routerLink="/rent">
          <div class="caption">
            <span class="imagebox-desc">Looking for a place to rent</span>
          </div>
        </div>
      </div>
    </div>

  </body>
