@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

h1{
font-size: 100px;
}

.card {
  width: 40%;
  padding: 10px;
  margin: 1%;
}

// .card1{
//   border-color:blueviolet;
//   border-radius: 20px;
//   margin-right: 15px;
// }

// .card2{
//   border-color:blueviolet;
//   border-radius: 15px;
//   margin-left: 15px;

// }

// .card-img{
//   height: 45%;
//   width: 45%;
// }
