<!-- <body>
  <h1 style="text-align: center; color: #290981; font-family: 'Dancing Script', cursive; width: 75%;">What are you
    looking for?</h1>

  <div class="container-fluid justify-content-center align-items-center bg-trasparent">
    <div class="row">
      <div class="col">
        <div class="card h-100 shadow-sm" style="width: 70%;"> <img
            src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png"
            class="card-img" alt="...">
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-primary">Item 1</span>
            </div>
            <h5 class="card-title">Card 1</h5>
            <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">+ info</a> </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow-sm" style="width: 70%;"> <img
            src="https://www.freepnglogos.com/uploads/notebook-png/notebook-laptop-png-images-you-can-download-mashtrelo-14.png"
            class="card-img" alt="...">
          <div class="card-body">
            <div class="clearfix mb-3">
              <span class="float-start badge rounded-pill bg-success">Item 2</span>
            </div>
            <h5 class="card-title">Card 2</h5>
            <div class="d-grid gap-2 my-4"> <a href="#" class="btn btn-warning">+ info</a> </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</body> -->

<body>

  <h1 style="text-align: center; color: #290981; font-family: 'Dancing Script', cursive; width: 100%;">What are you
    looking for?</h1>

  <div class="card-group container-fluid justify-content-center align-items-center" style="width: 90%;">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
    </div>

    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Food/8-col/img (5).jpg" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
    </div>
  </div>

</body>
