@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

h1 {

}

.card {
  padding: 10px;
  margin: 10%;
  border-radius: 10px;
}


