<div>
  <h2>Property Edit</h2>
  <div>
    <label>Photo:
      <input [(ngModel)]="propertiesData.photo" class="form-control" placeholder="Photo" />
    </label><br>
    <label>City:
      <input [(ngModel)]="propertiesData.city" class="form-control" placeholder="City" />
    </label><br>
    <label>Bedrooms:
      <input [(ngModel)]="propertiesData.bedrooms" class="form-control" placeholder="Bedrooms" />
    </label><br>
    <label>Capacity:
      <input [(ngModel)]="propertiesData.capacity" class="form-control" placeholder="Capacity" />
    </label><br>
    <label>Pool:
      <input [(ngModel)]="propertiesData.pool" class="form-control" placeholder="Yes/No" />
    </label><br>
    <label>Garden:
      <input [(ngModel)]="propertiesData.garden" class="form-control" placeholder="Yes/No" />
    </label><br>
    <label>Description:
      <input [(ngModel)]="propertiesData.description" class="form-control" placeholder="Details" />
    </label><br>
    <label>Price Per Night:
      <input [(ngModel)]="propertiesData.pricePerNight" class="form-control" placeholder="Price Per Night" />
    </label><br>
  </div>
  <button (click)="updateProperty()">Update</button>
</div>


