<div>
  <h2>Property Edit</h2>
  <div>
    <label>City:
      <img class="form-control" id="bedrooms" type="text" [(ngModel)]="propertiesData.property_photo" placeholder="Photo" />
    </label><br>
    <label>City:
      <input class="form-control" id="bedrooms" type="text" [(ngModel)]="propertiesData.property_city" placeholder="City" />
    </label><br>
    <label>Bedrooms:
      <input  class="form-control" id="bedrooms" type="number" [(ngModel)]="propertiesData.property_bedrooms" placeholder="Bedrooms" />
    </label><br>
    <label>Capacity:
      <input class="form-control" id="bedrooms" type="number" [(ngModel)]="propertiesData.property_capacity" placeholder="Capacity" />
    </label><br>
    <label>Pool:
      <input class="form-control" id="bedrooms" type="boolean" [(ngModel)]="propertiesData.property_pool" placeholder="Yes/No" />
    </label><br>
    <label>Garden:
      <input class="form-control" id="bedrooms" type="boolean" [(ngModel)]="propertiesData.property_garden" placeholder="Yes/No" />
    </label><br>
    <label>Description:
      <input class="form-control" id="bedrooms" type="text" [(ngModel)]="propertiesData.property_description" placeholder="Deteils" />
    </label><br>
    <label>Price Per Night:
      <input class="form-control" id="bedrooms" type="number" [(ngModel)]="propertiesData.property_pricePerNight" placeholder="Price Per Night" />
    </label><br>
  </div>
  <!--<button (click)="updateProperty()">Update</button>-->
</div>


